@{
    ViewBag.Title = "Miembros del grupo";
}


<div class="title" style="margin-top:3em;">
	<h2>@ViewBag.Title</h2><hr />

		<div class="card" style="max-width: 750px; margin-bottom:6em;">
			<div class="row">
				<div class="col-md-4">
					<img src="~/Imagenes/HaroldPhoto.jpg" class="img-thumbnail" alt="..." width="320" height="320">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">Harol Fernando Pichardo Delgado</h5>
						<p class="title">2017-4857</p>
						<p class="parrafo text-muted">Los módulos de esta <b class="slogan">WebApp - Multifuncional</b> que me tocó realizar como parte de este grupo fueron</p>
						<p class="card-text"><small class="text-muted"><b class="slogan">*</b> Vista de Agenda electrónica </small></p>
						<p class="card-text"><small class="text-muted"><b class="slogan">*</b> Vista de Eventos </small></p>
						<p class="card-text"><small class="text-muted"><b class="slogan">*</b> Lectura de archivos (Excel) </small></p>

					</div>
				</div>
			</div>
		</div>
		
		<div class="card" style="max-width: 750px; margin-bottom:6em;">
			<div class="row">
				<div class="col-md-4">
					<img src="~/Imagenes/LuisPhoto.jpg" class="img-thumbnail" alt="..." width="320" height="320">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">Luis Andrés Polanco Bautista</h5>
						<p class="title">2017-5328</p>
						<p class="parrafo text-muted">Los módulos de esta <b class="slogan">WebApp - Multifuncional</b> que me tocó realizar como parte de este grupo fueron</p>
						<p class="card-text"><small class="text-muted"><b class="slogan">*</b> Login vinculado con Facebook</small></p>
						<p class="card-text"><small class="text-muted"><b class="slogan">*</b> Vista bienvenida</small></p>
						<p class="card-text"><small class="text-muted"><b class="slogan">*</b> Consulta de asignaturas</small></p>
						<p class="card-text"><small class="text-muted"><b class="slogan">*</b> Vista Acerca de</small></p>
					</div>
				</div>
			</div>
		</div>


		
</div>




