@{
	ViewBag.Title = "Home Page";
}


<link href="https://fonts.googleapis.com/css?family=Prompt|Source+Code+Pro&display=swap" rel="stylesheet">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />


<div class="text-center" style="margin-top:8em;">
	<h1 class="title">Bienvenidos a WebApp - Multifuncional</h1>
	<p class="slogan">-D'Todo un poco-</p><br />
	<p class="parrafo">
		Está aplicación multifuncional consiste en dos partes cada cual con funcionalidades diferentes.<br />
		La primera esta diseñada para que los estudiantes puedan ver sus asignaturas por cuatrimestre.<br />
		La segunda es una agenda electrónica y un registro de eventos.
		<h3 class="title">
			¡Disfruta!
		</h3>
		<br /><br />
		Elige una opción para continuar
	</p>
	<a href="~/Home/Consulta" class="btn btn-primary">Consulta</a>
	<a href="~/Home/Agenda" class="btn btn-danger">Agenda</a>
	<a href="~/Home/Enventos" class="btn btn-warning">Eventos</a>
	<a href="#" class="btn btn-success">Leer archivos</a>

</div>